
.holster {
    position: relative;
    scroll-snap-type: both mandatory;
}

.container {
    scroll-snap-align: start;
}

@media (max-width: 768px) {
    .holster {
        scroll-snap-type: none;
    }
}
    