.navbar {
    background-color: #1a202c;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar li {
    margin: 10%;
}

.navbar .elem a {
    border-radius: 10px;
    padding: 20%;
    transition-property: all;
    transition-duration: 0.7s;
}

a {
    text-decoration: none;
    color:white;
}

.navbarElem .logo-elem {
    padding-right: 100%;
}

.navbar .user-elem{
    padding-left: 100%;
}

.navbar .elem:hover a{
    background-color: white;
    color: #1a202c;
}
