.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.card-input {
    padding: 20px;
    width: 100%;
    text-align: center;
}

.card-button {
    margin: 20px;
}
.input {
    margin-bottom: 50px;
}

.radioTitle {
    margin: 0 100px;
    margin-top: 50px;
}
.radio-legend {
    margin: 0 100px;
}

.radio-1 {
    transform: translateX(-500px);
}

.radio-2 {
    margin-left: 50px;
}

.header {
    background: -webkit-linear-gradient(#8093FF, #66FFE5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

@media (max-width: 768px) {
    .header {
        font-size: 200%;
    }
}
